/**RESET**/
/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	text-align: center;
}

html, body {
	font-family: 'Signika', sans-serif;
}

.welcome {
	background: url(../images/worldcup.png);
	background-attachment: fixed; background-position : top;
	background-repeat : no-repeat; background-size : cover;
	color: white;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 1.4em;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu {
	padding-left: 14em;
}

h1 {
	font-size: 2.4em;
}

#england {
	color: yellow;
	text-align: center;
	padding-left: 13em;
	font-weight: bold;
	font-size: 1em;
}

#englandadd {black;
	text-align: center;
	padding-left: 13em;
	font-weight: bold;
}

.addplayer {
	background: url(../images/wayne.jpg);
	background-attachment: fixed; background-position : top;
	background-repeat : no-repeat; background-size : cover;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	font-size: 1.2em;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.playerBody {
	background: url(../images/england.jpg);
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
	line-height: 2em;
}

.playerBody img {
	float: right;
	height: 14em;
	width: 20em;
	padding-right: 7em;
}

form {
	display: inline-block;
}

#search {
	font-size: 16px;
	padding: 8px 14px 8px 20px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

.headings {
	color: red;
}

.updatePlayer {
	padding-top: 3em;
}

.updatePlayer img {
	float: right;
	height: 400px;
	width: 600px;
	display: inline-block;
}

.teamselector {
	background: url(../images/englandselector.jpg);
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.selectteam {
	padding-right: 10em;
}

.teamselectordisplay {
	background: url(../images/footballpitch.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.teamselectordisplay img {
	height: 7em;
	width: 7em;
}

#teamname {
	margin-left: 1em;
	font-size: 2.4em;
	color: red;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	border: 3px dashed yellow;
}

.card {
	height: 7em;
	width: 7em;
}

#gk {
	margin-top: 8em;
	margin-left: 3em;
}

#lb {
	margin-top: 1em;
	margin-left: 21em;
}

#cb1 {
	margin-left: 11em;
}

#cb2 {
	margin-left: 21em;
}

#rb {
	margin-top: 2em;
	margin-left: 21em;
}

#lm, #cm1, #cm2, #rm {
	margin-left: 11em;
}

#st1, #st2 {
	margin-left: 11em;
}

.teamselector h2 {
	color: white;
	text-transform: uppercase;
}